# Mac os specific files:
.DS_Store
.DS_Store?
._* .Trashes
ehthumbs.db
Thumbs.db
.vscode/
*.log

*.env

# Server data dir:

server/Docker/grafana-data/
server/Docker/influxdb-data/
server/Docker/mysql_data/
server/Docker/telegraf-data/
